/* client/src/App.css */

.container {
  max-width: 1200px;
  margin: 2rem auto; /* Centra el contenido y le da espacio arriba/abajo */
  padding: 0 2rem;
}

.footer {
  text-align: center;
  padding: 1.5rem;
  margin-top: 2rem;
  background-color: #282c34;
  color: white;
}