/* client/src/index.css */

/* 1. IMPORTAR LA FUENTE DESDE GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:wght@400;500;600;700&display=swap');

/* 2. DEFINICIÓN DE VARIABLES DE COLOR */
:root {
  --primary-color: #EE4540;
  --secondary-color: #C72C41;
  --text-heading: #801336;
  --background-dark: #2D142C;
  --background-deep: #510A32;
  --light-bg: #FFF8F7;
  --text-main: #333;
}

/* 3. RESETEO BÁSICO Y BOX-SIZING */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 4. ESTILOS GLOBALES DEL BODY */
body {
  /* ¡AQUÍ ESTÁ EL CAMBIO! */
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-bg);
  color: var(--text-main);
  line-height: 1.6;
}

/* 5. ESTILOS BÁSICOS DE TIPOGRAFÍA */
h1, h2, h3, h4, h5, h6 {
  color: var(--text-heading);
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: 600; /* Usamos un grosor semibold para los títulos */
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500; /* Hacemos los enlaces un poco más notorios */
}

a:hover {
  text-decoration: underline;
  color: var(--secondary-color); /* Usamos el color secundario en el hover */
}

img {
  max-width: 100%;
  display: block;
}