/* client/src/components/FeaturedProducts.css */
.featured-products-section {
  padding: 4rem 0;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.section-header h2 {
  font-size: 2rem;
  margin: 0;
}

.see-all-link {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 1.5rem;
}