/* client/src/components/Footer.css */

.site-footer {
    background-color: var(--background-dark);
    color: var(--border-color);
    /* Un gris claro para el texto */
    padding: 4rem 0 2rem 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    /* La primera columna es más ancha */
    gap: 2rem;
    margin-bottom: 3rem;
}

.footer-logo {
    height: 70px;
    margin-bottom: 1rem;
}

.footer-description {
    font-size: 0.9rem;
    line-height: 1.6;
}
.footer-column h2 {
    color: var(--border-color);
    font-weight: 900;
}

.footer-column h4 {
    color: var(--surface-color);
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 0.75rem;
}

.footer-column ul a {
    color: var(--border-color);
    text-decoration: none;
    transition: color 0.2s, padding-left 0.2s;
    font-weight: 400;
    /* Texto normal, no semibold */
}

.footer-column ul a:hover {
    color: var(--secondary-color);
    padding-left: 5px;
    text-decoration: none;
    /* Quitamos el subrayado del hover global */
}

.footer-column span{
    font-size: 1rem;
    color: var(--border-color);   
    font-style: italic;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons a {
    color: var(--muted-text);
    font-size: 1.5rem;
    transition: color 0.2s, transform 0.2s;
}

.social-icons a:hover {
    color: var(--primary-color);
    transform: translateY(-3px);
}

.footer-bottom {
    border-top: 1px solid var(--border-color);
    padding-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
}


/* Diseño Responsivo para el Footer */

@media (max-width: 992px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .social-icons {
        justify-content: center;
    }
    .footer-logo {
        margin: 0 auto 1rem auto;
    }
}
